<form action="/sum" method="GET">
  <p><label>Number 1: <input name="one"/></label></p>
  <p><label>Number 2: <input name="two"/></label></p>
  <p><input type="submit" value="Calculate Sum"/></p>
</form>
